/* Estilos base para pantallas grandes (por ejemplo, computadoras de escritorio) */
.portada {
    background-image: url(../portada.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}
.nombresImg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 670px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 60px;
}


