.frase{
    background-image: url(../Rebeca.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat', sans-serif; 
height: 300px;

        .frase1 {
            display: grid;
            justify-content: center;
            text-decoration: none;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:
            "imagenDress"
            "textoDress"
            "botonDress";

        }

        .imagenDress,
        .textoDress,
       .botonDress {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .imagenCbu {
            display: flex;
            grid-area: imagenDress;
           
        }

        .textoDress {
            grid-area: textoDress;
            font-size: 20px;
            margin-top: 3px;
        }
    }