.ceremonia-fiesta.container.row {
    display: grid;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "imagenIglesia imagenFiesta"
      "textoCeremonia textoCeremoniaFiesta"
      "textoIglesia textoSalon"
      "botonIglesia botonSalon";
  }
  
  .imagenIglesia,
  .imagenFiesta,
  .textoCeremonia,
  .textoCeremoniaFiesta,
  .textoIglesia,
  .textoSalon,
  .botonIglesia,
  .botonSalon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  .imagenIglesia {
    grid-area: imagenIglesia;
    margin-top: 30px;

  }
  
  .textoCeremonia {
    display: flex;
    grid-area: textoCeremonia;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
  
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
  }
  
  .textoIglesia {
    display: flex;
    grid-area: textoIglesia;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-right: 30px;
    margin-left: 30px;
  }
  
  .imagenFiesta {
    grid-area: imagenFiesta;
    margin-top: 30px;
  }
  
  .textoCeremoniaFiesta {
    display: flex;
    grid-area: textoCeremoniaFiesta;
    font-size: 20px;
    letter-spacing: 3px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;

    
  }
  
  .textoSalon {
    grid-area: textoSalon;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;

   
  }
  
  .botonSalon, .botonIglesia {
    grid-area: botonSalon;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;

  }
  

