.piepagina {
  background-image: url(../imagenes/portada2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif; 
letter-spacing: 3px;

  .nombresImgPie {
    display: flex;
    flex-direction: column;
    grid-area: nombresImgPie;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  .textoPie {
    display: flex;
    flex-direction: column;
    grid-area: textoPie;
    align-items: center;
    color: white;
    justify-content: center;
    margin-top: 80px;

  }
}

